.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: #00796b;
}

.body-content {
  padding-top: 80px;
}

@media (max-width: 600px) {
  .header {
    padding: 10px;
  }

  .body-content {
    padding-top: 70px;
  }
}